pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #ffffff; background-color: #1d1d1d }
.highlight .c { color: #717171; background-color: #1d1d1d } /* Comment */
.highlight .err { background-color: #1d1d1d } /* Error */
.highlight .esc { background-color: #1d1d1d } /* Escape */
.highlight .g { background-color: #1d1d1d } /* Generic */
.highlight .k { color: #a98df3; background-color: #1d1d1d } /* Keyword */
.highlight .l { background-color: #1d1d1d } /* Literal */
.highlight .n { color: #ffffff; background-color: #1d1d1d } /* Name */
.highlight .o { color: #d99fce; background-color: #1d1d1d } /* Operator */
.highlight .x { background-color: #1d1d1d } /* Other */
.highlight .p { color: #929292; background-color: #1d1d1d } /* Punctuation */
.highlight .ch { color: #717171; background-color: #1d1d1d } /* Comment.Hashbang */
.highlight .cm { color: #717171; background-color: #1d1d1d } /* Comment.Multiline */
.highlight .cp { color: #717171; background-color: #1d1d1d } /* Comment.Preproc */
.highlight .cpf { color: #717171; background-color: #1d1d1d } /* Comment.PreprocFile */
.highlight .c1 { color: #717171; background-color: #1d1d1d } /* Comment.Single */
.highlight .cs { color: #717171; background-color: #1d1d1d } /* Comment.Special */
.highlight .gd { background-color: #1d1d1d } /* Generic.Deleted */
.highlight .ge { background-color: #1d1d1d } /* Generic.Emph */
.highlight .gr { background-color: #1d1d1d } /* Generic.Error */
.highlight .gh { background-color: #1d1d1d } /* Generic.Heading */
.highlight .gi { background-color: #1d1d1d } /* Generic.Inserted */
.highlight .go { background-color: #1d1d1d } /* Generic.Output */
.highlight .gp { background-color: #1d1d1d } /* Generic.Prompt */
.highlight .gs { background-color: #1d1d1d } /* Generic.Strong */
.highlight .gu { background-color: #1d1d1d } /* Generic.Subheading */
.highlight .gt { background-color: #1d1d1d } /* Generic.Traceback */
.highlight .kc { color: #a98df3; background-color: #1d1d1d } /* Keyword.Constant */
.highlight .kd { color: #a98df3; background-color: #1d1d1d } /* Keyword.Declaration */
.highlight .kn { color: #a98df3; background-color: #1d1d1d } /* Keyword.Namespace */
.highlight .kp { color: #a98df3; background-color: #1d1d1d } /* Keyword.Pseudo */
.highlight .kr { color: #a98df3; background-color: #1d1d1d } /* Keyword.Reserved */
.highlight .kt { color: #a98df3; background-color: #1d1d1d } /* Keyword.Type */
.highlight .ld { background-color: #1d1d1d } /* Literal.Date */
.highlight .m { color: #ea5b91; background-color: #1d1d1d } /* Literal.Number */
.highlight .s { color: #6fcd90; background-color: #1d1d1d } /* Literal.String */
.highlight .na { color: #ffffff; background-color: #1d1d1d } /* Name.Attribute */
.highlight .nb { color: #ffffff; background-color: #1d1d1d } /* Name.Builtin */
.highlight .nc { color: #f7ccb2; background-color: #1d1d1d } /* Name.Class */
.highlight .no { color: #ffffff; background-color: #1d1d1d } /* Name.Constant */
.highlight .nd { color: #ffffff; background-color: #1d1d1d } /* Name.Decorator */
.highlight .ni { color: #ffffff; background-color: #1d1d1d } /* Name.Entity */
.highlight .ne { color: #ffffff; background-color: #1d1d1d } /* Name.Exception */
.highlight .nf { color: #69bcf9; background-color: #1d1d1d } /* Name.Function */
.highlight .nl { color: #ffffff; background-color: #1d1d1d } /* Name.Label */
.highlight .nn { color: #ffffff; background-color: #1d1d1d } /* Name.Namespace */
.highlight .nx { color: #ffffff; background-color: #1d1d1d } /* Name.Other */
.highlight .py { color: #ffffff; background-color: #1d1d1d } /* Name.Property */
.highlight .nt { color: #a98df3; background-color: #1d1d1d } /* Name.Tag */
.highlight .nv { color: #ffffff; background-color: #1d1d1d } /* Name.Variable */
.highlight .ow { color: #d99fce; background-color: #1d1d1d } /* Operator.Word */
.highlight .w { background-color: #1d1d1d } /* Text.Whitespace */
.highlight .mb { color: #ea5b91; background-color: #1d1d1d } /* Literal.Number.Bin */
.highlight .mf { color: #ea5b91; background-color: #1d1d1d } /* Literal.Number.Float */
.highlight .mh { color: #ea5b91; background-color: #1d1d1d } /* Literal.Number.Hex */
.highlight .mi { color: #ea5b91; background-color: #1d1d1d } /* Literal.Number.Integer */
.highlight .mo { color: #ea5b91; background-color: #1d1d1d } /* Literal.Number.Oct */
.highlight .sa { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Affix */
.highlight .sb { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Backtick */
.highlight .sc { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Char */
.highlight .dl { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Delimiter */
.highlight .sd { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Doc */
.highlight .s2 { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Double */
.highlight .se { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Escape */
.highlight .sh { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Heredoc */
.highlight .si { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Interpol */
.highlight .sx { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Other */
.highlight .sr { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Regex */
.highlight .s1 { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Single */
.highlight .ss { color: #6fcd90; background-color: #1d1d1d } /* Literal.String.Symbol */
.highlight .bp { color: #ffffff; background-color: #1d1d1d } /* Name.Builtin.Pseudo */
.highlight .fm { color: #69bcf9; background-color: #1d1d1d } /* Name.Function.Magic */
.highlight .vc { color: #ffffff; background-color: #1d1d1d } /* Name.Variable.Class */
.highlight .vg { color: #ffffff; background-color: #1d1d1d } /* Name.Variable.Global */
.highlight .vi { color: #ffffff; background-color: #1d1d1d } /* Name.Variable.Instance */
.highlight .vm { color: #ffffff; background-color: #1d1d1d } /* Name.Variable.Magic */
.highlight .il { color: #ea5b91; background-color: #1d1d1d } /* Literal.Number.Integer.Long */